{% extends "base_template.html" %} {% block title %}Login{% endblock %} {% block
content %}
<center>
  <h1>Create hit</h1>
	<div>
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<div>
				{{ form.description.label }} {{ form.description(cols="35", rows="20") }}<br />
				{% for error in form.description.errors %}
				<span style="color: red">{{ error }}</span>
				{% endfor %}
			</div>
			<div>
				{{ form.target.label }} {{ form.target }}<br />
				{% for error in form.target.errors %}
				<span style="color: red">{{ error }}</span>
				{% endfor %}
			</div>
			<div>
				{{ form.assignee.label }} {{ form.assignee }}<br />
				{% for error in form.assignee.errors %}
				<span style="color: red">{{ error }}</span>
				{% endfor %}
			</div>
			<div>{{ form.submit() }}</div>
		</form>
	</div>
</center>
{% endblock %}
