{% extends "base_template.html" %} {% block title %}{{title}}{% endblock %} {%
block content %}
<center>
  <h1>Hitmen</h1>
	<div>
		<table>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>email</th>
				<th>Hitman type</th>
				<th>Is active</th>
				<th></th>
			</tr>
			{% for hitman in hitmen %}
			<tr>
				<td>{{hitman.id}}</td>
				<td>{{hitman.name}}</td>
				<td>{{hitman.email}}</td>
				{% if hitman.id==1 %}
				<td>Boss</td>
				{% elif hitman.lackeys %}
				<td>Manager</td>
				{% else %}
				<td>Lackey</a></td>
				{% endif %}
        <td>{{hitman.active}}</a></td>
				<td><a href="{{url_for('hitmen.detail', hitman_id=hitman.id)}}">Detail</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</center>
{% endblock %}
